.aside-bar {
    position: fixed;
    top: 50%;
    right: 5px;
    height: 30%;
    width: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include min-width(medium) {
        right: 10px;
        width: 50px;
    }

    &__item {
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        border: 2px solid $aside-item-color;
    }

    &__item--active {
        background-color: lighten($aside-item-color , 15%);
        transition: background-color .5s;
        box-shadow: 0px 0px 1px 1px $aside-item-color;
    }
}