.aside-bar {
    position: fixed;
    top: 50%;
    right: 5px;
    height: 30%;
    width: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;

    @include min-width(medium) {
        right: 10px;
        width: 50px;
    }

    &__item {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid var(--aside-border-item-color);
    }

    &__item--active {
        background-color: var(--aside-background-item-color);
        transition: background-color .5s;
    }
}