* {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
}

%section-default {
    min-height: 100vh;
    position: relative;
    scroll-snap-align: start;
}