* {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

%section-default {
    min-height: 100vh;
    position: relative;
    scroll-snap-align: start;
}