.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 0 5%;
    color: #fff;
    z-index: 1;

    &__logo-link {
        font-size: 1em;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-shadow: 1px -1px 1px rgba(66, 68, 90, 1);
    }

    &__menu-icons {
        position: relative;
        font-size: 1.5em;

        @include min-width(medium) {
            display: none;
        }
    }

    &__close-icon {
        color: rgb(171, 6, 6);
        padding-top: .5em;
        font-size: 1.5em;
    }

    &__burger-icon,
    &__close-icon {
        display: none;
        cursor: pointer;
    }

    &__burger-icon--show,
    &__close-icon--show {
        display: block;
    }
}

.menu {
    position: fixed;
    right: -70%;
    top: 0;
    width: 70%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @include min-width(small) {
        right: -50%;
        width: 50%;
    }

    @include min-width(medium) {
        position: static;
        flex-direction: row;
        background-color: transparent;
        width: auto;
        transition: 0s;
    }

    &--show {
        right: 0;
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-basis: 70%;
        align-items: center;
        align-content: center;
        justify-content: center;

        @include orientation-landscape {
            flex-basis: 90%;
        }

        @include min-width-and-orientation-landscape(small) {
            flex-basis: 70%;
        }

        @include min-width(medium) {
            flex-direction: row;
            justify-content: center;
            height: 100%;
            flex-wrap: nowrap;
        }
    }

    &__list-item {
        flex-basis: 80%;
        height: 22%;
        text-align: center;
        margin: 0 auto;
        border-bottom: 1px solid #fff;

        @include min-width(medium) {
            border: none;
            width: 100%;
            height: 100%;
        }

        &:first-child {
            border-top: 1px solid #fff;

            @include min-width(medium) {
                border: none;
            }
        }
    }

    &__link {
        display: block;
        text-transform: uppercase;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include min-width(medium) {
            padding: 0 30px;
            margin: 0 10px;
        }
    }

    &__github-icon {
        flex-basis: 25%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 2.5em;

        @include orientation-landscape {
            flex-basis: 5%;
            font-size: 2em;
            padding-bottom: 20px;
        }

        @include min-width-and-orientation-landscape(verySmall) {
            flex-basis: 25%;
            font-size: 2.5em;
        }

        @include min-width-and-orientation-landscape(medium) {
            font-size: 1.5em;
            height: 100%;
            padding-bottom: 0;
        }
    }
}