:root {
    --home-background-color: royalblue;
    --home-title-size: clamp(2.5em, 7vw, 5.5em);
}

$breakpoints: (
    'verySmall': 580px,
    'small': 780px,
    'medium': 1024px,
    'large': 1200px
);